<div class="navbar-container" [class.example-is-mobile]="mobileQuery.matches">

    <mat-toolbar class="navbar" color="primary">

        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>

        <a class="navbar-brand" [routerLink]="['/']" matTooltip="Home">
            <h1>
                Indigital Customers
            </h1>
        </a>

        <span class="navbar-spacer"></span>

        <button mat-button>
            <mat-icon>person</mat-icon>
            <span fxShow fxHide.xs>
                Invitado
            </span>
        </button>

    </mat-toolbar>

    <mat-sidenav-container class="navbar-sidenav-container">
        <!-- Side nav -->
        <mat-sidenav #snav [opened]="!mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'"
            [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" class="sidenav">

            <mat-nav-list>
                <a mat-list-item [routerLink]="['/']">
                    <mat-icon mat-list-icon>
                        home
                    </mat-icon>
                    <p mat-line> Inicio </p>
                </a>

                <a mat-list-item [routerLink]="['/customers']">
                    <mat-icon mat-list-icon>
                        people
                    </mat-icon>
                    <p mat-line> Clientes </p>
                </a>

                <a mat-list-item [routerLink]="['/indicators']">
                    <mat-icon mat-list-icon>
                        dashboard
                    </mat-icon>
                    <p mat-line> Indicadores </p>
                </a>

                <mat-divider></mat-divider>

            </mat-nav-list>

        </mat-sidenav>

        <!-- Main content -->
        <mat-sidenav-content class="sidenav-content">

            <div class="progress-bar-container">
                <mat-progress-bar color="accent" mode="indeterminate" *ngIf="spinnerService.visibility | async">
                </mat-progress-bar>
            </div>

            <router-outlet></router-outlet>

        </mat-sidenav-content>
    </mat-sidenav-container>

</div>